.glitch-assets 

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# TypeScript
*.js
*.tsbuildinfo

# data
data.json
prefixes.json

shrinkwrap.yaml
package-lock.json
