<div style="text-align: center">
<pre style="display: inline-block; font-weight: bold; text-align: center;">
N
 X
  T
</pre>
</div>

<h1 style="text-align: center" id="nxtbot">NXTBOT</h1>
<hr />
<p><em>IT&#39;S WHAT&#39;S NXT</em></p>
<p>The flagship <a href="https://npm.im/jackbot-discord"><code>jackbot-discord</code></a> bot.</p>
<h2 id="migrating-from-everythingbot-">Migrating from everythingbot?</h2>
<p>-say is now -tts</p>
<p>-stats is now -about</p>
<p>-saybot is now -say</p>
<p>-sayvc is now -ttsvc</p>
<h2>
  History
</h2>
i found out discord.js exists. i found a discord.js guide. i found a template. I edited it and that turned into everythingbot.<br>
Later on, I learned TypeScript. I created <code>jackbot-discord</code>. I used it to make <code>jackbot-next</code>, which was renamed to NXTBOT before release.<br>
TLDR: jackbot -&gt; everythingbot -&gt; jackbot-discord demo -&gt; jackbot-next -&gt; generalbot -&gt; NXTBOT
<hr />
<h1>
  <a href="https://github.com/Jack5079/nxtbot">github</a>
</h1>