@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

a {
  color: skyblue;
  text-decoration: none;
}

body {
  background: black;
  color: white;
  margin: 0;
}

article {
  margin: 5em;
}

header img {
  animation: skew 1s ease-out 1s 1 backwards;
}

header {
  background: darkslategray;
  position: sticky;
  text-align: left;
  display: flex;
  align-items: center;
  top: 0;
}
aside {
  float: right;
}
header a {
  margin: 1em;
}

@keyframes skew {
  from {
    transform: skew(11deg);
  }
  to {
    transform: skew(0deg);
  }
}

strong {
  text-align: center;
  background: yellow;
  color: black;
  width: 100%;
  display: block;
}

.primary {
  background: #7289DA;
  color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: #7289DA 1px 1px 5px;
}
