@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

a {
  color: skyblue;
  text-decoration: none;
}

.sep::after {
  content: '|'
}

body {
  background: black;
  color: white;
  text-align: center;
}

img {
  width: 50%;
  height: auto;
  animation: skew 1s ease-out 1s 1 backwards;
}

@keyframes skew {
  from {
    transform: skew(11deg);
  }
  to {
    transform: skew(0deg);
  }
}
